/* Background */
.home-bg {
    background: url('https://images.pexels.com/photos/18688551/pexels-photo-18688551.jpeg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
  }
  
  /* Navbar hover */
  .nav-link,
  .navbar-brand span {
    color: white !important;
    text-decoration: underline;
  }
  
  .navbar-brand:hover{
    box-shadow: rgba(0 0 0 2);
    color:grey !important;
    filter: brightness(2);
  }

  
  .nav-link:hover {
    /* box-shadow: 0 0 10px rgba(255,255,255,0.5); */
    filter: brightness(1.2);
    color: grey !important;
    transition: 0.3s;
  }
  
  /* Destination card hover */
  .destination-card:hover {
    box-shadow: 0 0 15px rgba(0 0 0 0.5);
    filter: brightness(1.1);
    transition: 0.3s;
  }

  .welcome h1:hover{
    box-shadow: rgba(0 0 0 20.5);
    filter:brightness(1.2);
  }

  
  
  /* About section hover */
  .about-img:hover,
  .about-box:hover {
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    filter: brightness(1.1);
    transition: 0.3s;
  }
  