.body{
    height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100% );
    overflow-y: hidden;


}

.container{
    display: flex;
    background-color: white;
    /* text-align: center; */
    min-height: 500px;
    max-width: 450px;
    margin-top: 185px;
    margin-left:  550px;
    margin-bottom: 100px;
    border: none white;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
    /* height: 100%; */
  }
  form label, form input, form button {
    width: 100%;
    max-width: 350px;
    /* margin-bottom: 1.5rem ; */
    
  }

  a{
    text-decoration: none;
  }

.RegButton{
    color: white;
    padding: 10px;
    border: none;
    width: 355px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(53, 132, 224);
    border-radius: 0.5rem;
    font-size: 1.2rem;     
    font-weight: bold;
    
}

.RegButton:hover{
    background-color: rgb(8, 95, 177);
}

.Reg{
    text-align: center;
    /* font-size: larger ; */
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 2rem; */
}

#name{
    margin-top: 0.5rem;
    /* padding-left:5px ; */
    width: 350px;
    height: 30px;
}

#password{
    margin-top: 0.5rem;
    /* padding-left: 5px; */
    width: 350px;
    height: 30px;
}
#email{
    margin-top: 0.5rem;
    /* padding-left: 5px; */
    width: 350px;
    height: 30px;
}

